<footer>
    <hr>
    <div class="footer-logo">
        <img src="../media/logo-refuin.png" alt="footer">
        <p> &copy; 2023 Refu'In copy write , MatrixMaster, Rotterdam , The Netherlands </p>
    </div>
</footer>