    <!-- adding bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- endding of bootstrap -->

    <!-- adding css -->
    <link rel="stylesheet" href="/style.css">
    <!-- ending of css -->




    <!-- starting nav bar -->
<!-- 

        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <a class="navbar-brand" href="/home">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">SignUp</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup-company">SignUp-Company</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">logout</a>
              </li>

              </ul>

            </div>
          </nav>
      end of nav bar -->

      
<!-- second desgin for nav bar -->
<header>
      <!-- adding logo -->
      <div  class="logo">
        <img src="../media/logo-refuin.png" alt="logo" >
    </div>
    <nav>
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <ul class="nav-menu">
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li> <a href="/signup">SignUp</a></li>
      <li> <a href="/signup-company">Company</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">logout</a></li>

    </ul>
    </nav>

</header>
