<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./shared/head") %>

</head>
<body>
    
    <h2>Welcome To RefuIn b3d al bhdaleh</h2>
    
    <a href="/post/addnew"><h3>Add a post</h3></a>
    <div class="post">
        <% if (posts.length>0){ %>
            <% posts.forEach(post=>{ %>
        <div class="card">
            <h6><%= post.body %></h6>
            <h6><%= post.create_at%></h6>
            <a href="/post/<%= post._id %>">See More</a>
        </div>
            <% }) %>
        <%} else {%> 
            <h5>No Post On for Day</h5>
    
        <% } %>
</body>
</html>