<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./shared/head") %>

</head>
<body>
    <h1>Hello from login agian</h1>

    <form class="form" action="/login" method="post">
        <label for="Email"> Email :</label>
        <input type="email" name="Email" required>
        <label for="Password"> Password :</label>
        <input type="password" name="Password" required>
        <button>login</button>
    </form>
    <h3><%= err %></h3>
</body>
</html>