.logo{
    display: flex;
    justify-content: center;
}
.logo img{

    height: 60px;
}
body{
    margin: 10px;
    background-color: rgba(229, 221, 211, 0.514);
}
h2{
    text-align: center;
}
h5{
    text-align: center;
}

.form{
    width: 60%;
    margin: auto;
}
.form label ,
.form input,
.form textarea {
    width: 40%;
    margin: auto;
    display: block;
}
.form button {
    width: 20%;
    margin: auto;
    margin-top: 20px;
    display: block;
    color: blue;
}